<div ng-controller="MainController">
  <div>
    <img ng-src="{{ current_user.avatar.thumbnail_url }}" width="26" height="26">
    {{ current_user.name }}
  </div>

  <hr>

  <div ng-if="!selected">
    <ul>
      <li ng-repeat="food in foods track by $index" ng-click="select(food)">
        <p>
          <img ng-src="{{ food.user.avatar.thumbnail_url }}" width="26" height="26">
          {{ food.user.name }}
        </p>

        <p>{{ food.name }}</p>
        <img ng-src="{{ food.thumbnail.medium_url }}">
        <p>{{ food.description }}</p>
        <hr>
      </li>
    </ul>
  </div>

  <div ng-if="selected">
    <p><button ng-click="disselect()">BACK</button></p>

    <ul>
      <li ng-repeat="food in deals track by $index">
        <div ng-if="food">
          <div ng-unless="food.edjected">
            <p>
              <img ng-src="{{ food.user.avatar.thumbnail_url }}" width="26" height="26">
              {{ food.user.name }}
            </p>

            <p>
              {{ food.name }}
              <button ng-click="like(food.id)">{{ food.likes_count }} Likes</button>
            </p>

            <img ng-src="{{ food.thumbnail.medium_url }}">
            <p>{{ food.description }}</p>
          </div>

          <div ng-if="food.edjected">
            取り外されています
          </div>
        </div>

        <div ng-if="food == null">
          待ち
        </div>

        <hr>
      </li>
    </ul>

  </div>
</div>
