<div class="wrap" ng-controller="MainController">

  <div class="header ex-boxSizing">
    <p class="alert ex-boxSizing" ng-class="{ show: !!request }">{{ request.user.name }}さんが、<br>{{ request.name }}を食べたいと言っています！</p>
    <p class="logo"><img src="/assets/logo.png" alt="X-Ben" width="100%"></p>
    <p ng-if="!isState('initial')" ng-click="back()" class="backBtn"><img src="/assets/backBtn.png" alt=""></p>
  </div>

  <div ng-if="isState('initial')">

    <div ng-if="current_user" class="currentUserProfile ex-boxSizing ex-clearfix">
      <p class="currentUserThumb"><img ng-src="{{ current_user.avatar.thumbnail_url }}" width="35" height="35"></p>
      <p class="currentUserName">{{ current_user.name }}</p>
    </div>

    <p class="contetsHead">
      <img src="/assets/okazu.png" alt="今日のおかず" width="100%">
    </p>

  </div>

  <div ng-if="isState('initial')">
    <ul rn-carousel rn-carousel-buffered rn-carousel-indicator rn-carousel-control>

      <li ng-repeat="food in foods track by $index" ng-click="select(food)" class="'memberList ex-boxSizing'">

        <!-- user list wrap -->
        <div class="memberContent">

          <p ng-class="{near: food.user.is_near}" ng-show="food.user.is_near">near</p>

          <p class="userProfile ex-clearfix color-{{ [null, 'a', 'b'][food.user.id] }}">
            <span class="userThumb"><img ng-src="{{ food.user.avatar.thumbnail_url }}" width="34" height="34"></span>
            <span class="userName">{{ food.user.name }}</span>
          </p>

          <p class="userFoodThumb ex-boxSizing" style="background:url('{{ food.thumbnail.medium_url }}');height:140px;background-size:cover;"></p>
          <p class="userFoodName"><span><img src="/assets/foodIcon.png" width="15px"></span>&nbsp;{{ food.name }}</p>
          <p class="userFoodDesc">{{ food.description }}</p>
        </div>

      </li>
    </ul>
  </div>

  <div ng-if="isState('selected') || isState('ejected') || isState('done')">
    <p class="contetsHead">
      <img src="/assets/okazu02.png" alt="おかず交換" width="100%">
    </p>
    <ul>
      <li ng-repeat="food in deals track by $index">
        <div ng-if="food">
          <div class="memberContent">
            <p class="userProfile ex-clearfix">
              <span class="userThumb"><img ng-src="{{ food.user.avatar.thumbnail_url }}" width="34" height="34"></span>
              <span class="userName">{{ food.user.name }}</span>
            </p>
            <p class="userFoodName" ng-show="$index == 0">{{ food.name }}</p>
            <p class="userFoodThumb ex-boxSizing" ng-show="$index == 0" style="background:url('{{ food.thumbnail.medium_url }}');height:140px;background-size:cover;"></p>
            <p class="userFoodDesc" ng-show="$index == 0">{{ food.description }}</p>
          </div>
          <p class="dealIcon" ng-show="$index == 0"><img src="/assets/dealIcon.png" alt=""></p>
        </div>

        <div ng-if="food == null" class="dealRequestLoading footerBoard">
          <img src="/assets/loading_anime01.gif" alt="リクエスト中">
        </div>
      </li>
    </ul>

    <!-- <div ng-if="isState('ejected')" class="removeLoading footerBoard">
      <img src="/assets/loading_anime02.gif" alt="取り外し中">
    </div> -->

    <!-- <div ng-if="isState('done')" class="footerBoard"> -->

    <style>
    .umaineFood {
      width: 240px;
      height: 240px;
      background-size: cover;
      border-radius: 200px;
      margin: 0 auto 0 auto;
      position: absolute;
      top: 50%;
      left: 50%;
      margin-left: -120px;
      margin-top: -120px;
    }
    .umaineFood .umaineIcon {
      width: 150px;
      margin: auto;
      line-height: 12;
    }
    .umaineFood .umaineIcon img {
      width: 100%;
    }
    .liked {
      top: 51%;
    }

    .umainePop_prototype {
      width: 140px;
      height: 40px;
      padding-top: 10px;
      background: white;
      padding: 5px;
      border-radius: 30px;
      position: absolute;
      text-align: center;
    }
    .ins1 {
      top: 30%;
      left: 12%;
      z-index: 100;
      opacity: 0;
    }
    .ins2 {
      top: 20%;
      left: 50%;
      z-index: 110;
      opacity: 0;
    }
    .ins3 {
      top: 10%;
      left: 7%;
      z-index: 120;
      opacity: 0;
    }
    .ins1_anime {
      -webkit-animation: popAnime1 1s ease;
    }
      @-webkit-keyframes popAnime1 {
          0% { opacity: 0;}
          50% { opacity: 1;}
          100% { opacity: 0; }
      }
    .ins2_anime {
      -webkit-animation: popAnime2 1s ease;
    }
      @-webkit-keyframes popAnime2 {
          0% { opacity: 0;}
          50% { opacity: 1;}
          100% { opacity: 0; }
      }
    .ins3_anime {
      -webkit-animation: popAnime3 1s ease;
    }
      @-webkit-keyframes popAnime3 {
          0% { opacity: 0;}
          50% { opacity: 1;}
          100% { opacity: 0; }
    }
    </style>

    <div class="umaineBg">

      <p ng-class="{ins1_anime: pop >= 0}" class="umainePop_prototype ins1"><img src="/assets/umaine.png" width="100"></p>
      <p ng-class="{ins2_anime: pop >= 1}" class="umainePop_prototype ins2"><img src="/assets/umaine.png" width="100"></p>
      <p ng-class="{ins3_anime: pop >= 2}" class="umainePop_prototype ins3"><img src="/assets/umaine.png" width="100"></p>

      <ul>
      <li ng-repeat="food in deals track by $index">
        <!-- <span ng-show="$index == 0">{{food.likes_count}}</span> -->
        <div ng-click="like(selected.id)" ng-class="{liked: flag}" class="umaineFood" style="background:url('{{ food.thumbnail.medium_url }}');background-size:cover;"><p class="umaineIcon"><img src="/assets/umaineBtn.png" alt=""></p></div>
      </li>
    </ul>

    </div>

  </div>
</div>
