/*
 *= require_tree .
 *= require_self
 */

html, body {
  width: 320px;
  padding: 0;
}

#debug_console {
  font-size: 30px;
  background: #eee;
  padding: 10px;
  margin: 30px 0;
  width: 100%;
}

.hide {
  display: none;
}

