/*
 *= require_tree .
 *= require_self
 */

html {
  background: #ddd;
  text-align: center;
}

body {
  width: 320px;
  padding: 0;
  margin: 0 auto;
  text-align: left;
  background: #fff;
  -webkit-overflow-scrolling: touch;
}

